.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(41, 36, 36);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 50px;
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex: 1;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
}

.card-image-right {
  flex-direction: row-reverse;
}

.app-container {
  max-width: 1200px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 50px; /* Add some padding if needed */

}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
} */

.checkbox-container {

}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:checked + span {
  color: #007bff;
  font-weight: bold;
}

.checkbox-label span {
  transition: color 0.2s ease-in-out;
}

/* You can further style the checkboxes and labels as needed */

.heading-font {
  font-size:large
}

h1 {
  font-size: 40px;
}

.app-color {
  background-color: #9a9797;
}

.navbar-color {
  background-color: #504a4a;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
}

.terms-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

.terms-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.terms-box p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.terms-box label {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
}

.terms-box input[type="checkbox"] {
  margin-right: 5px;
}

p2 {
  color: black;
}